@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Quicksand:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
}

header.navbar-container {
    margin-top: 10px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 8px 2px rgb(8, 107, 255);
    border-radius: 99px;
    padding: 20px;
    padding-block: 1rem;
    z-index: 999;
    position: relative;
}

header.navbar-container .logo img {
    width: 250px;
}

/* Menu utama */
header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
    position: relative;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
}

header.navbar-container .nav-list li a span {
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

/* Hover effect */
header.navbar-container .nav-list li a span:hover {
    background-color: rgb(8, 107, 255);
    color: white;
}

/* Dropdown */
header.navbar-container .dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    margin-top: .5rem;
    background-color: rgb(39, 38, 38);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;
    z-index: 1000;
    padding: 0;
}

header.navbar-container .dropdown .dropdown-content li {
    width: 100%;
}

header.navbar-container .dropdown .dropdown-content li a {
    display: block;
    padding: .7rem 1rem;
    text-decoration: none;
    color: white;
    transition: background 0.2s ease-in-out;
}

header.navbar-container .dropdown .dropdown-content li a:hover {
    background-color: rgb(8, 107, 255);
    color: white;
}

/* Hover untuk buka submenu */
header.navbar-container .dropdown:hover .dropdown-content {
    display: block;
}

main {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    color: white;
}

.combos {
    margin: 25px 50px;
    padding: 20px;
    box-shadow: 0 2px 8px 2px rgb(8, 107, 255);
    border-radius: 15px;
}

.combo {
    position: relative;
    margin: 25px auto;
    padding: 10px;
    width: 995px;
    box-shadow: 0 2px 8px 2px rgb(8, 107, 255);
    border-radius: 15px;
}

.combo input {
    margin-left: 20px;
    border-radius: 8px;
    width: 310px;
    height: 25px;
}

.set-combo-btn {
    margin-left: 15px;
    background-color: rgb(8, 107, 255);
    padding: 10px 55px;
    border-radius: 9px;
    border: black solid 1px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.set-combo-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.set-combo-btn:active {
    background-color: rgb(32, 49, 61);
    transform: scale(0.98);
}

.border {
    width: 950px;
    height: 100px;
    margin: 15px auto;
    padding: 20px;
    border: solid 2px black;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.first {
    height: 90px;
    width: 90px;
}

.else-slot {
    margin-right: -20px;
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
}

.else {
    position: absolute;
    top: 30px;
    left: 20px;
    height: 50px;
    width: 50px;
}

.attr {
    position: absolute;
    top: 18px;
    left: 0;
    width: 30px;
    height: 30px;
}

.display-skill .attribute {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    display: none;
    border-radius: 50%;
    z-index: 10;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: #fff;
    margin: 2px auto;
    padding: 20px;
    width: 1000px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-skill {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
}

.popup-skill .display-skill {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 12px;
}

.skill-name,
.skill-img {
    flex: 1;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.add-combo {
    margin: 20px 0 20px 0;
    text-align: center;
}

.add-combo button {
    padding: 8px 15px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    background: rgb(8, 107, 255);
    color: white;
}

.add-combo button:hover {
    background: #0056b3;
}

.remove-combo {
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: center;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    background: rgb(8, 107, 255);
    color: white;
}

.remove-combo button:hover {
    background: #0056b3;
}

#searchInput {
    width: 400px;
    height: 35px;
    border-radius: 10px;
    border: 3px solid black;
}

#skillList {
    height: 225px;
    overflow-y: auto;
    padding: 5px;
    border: 3px solid black;
    border-radius: 8px;
}

#skillList li {
    list-style: none;
    margin: 5px 0;
}

#skillList a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

#skillList a:hover {
    text-decoration: underline;
}

#skillList::-webkit-scrollbar {
    width: 8px;
}

#skillList::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#skillList::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

#skillList::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.skill-img {
    border: 1px solid black;
    margin-bottom: 16px;
    border-radius: 10px;
    min-height: 150px;
    height: auto;
}

.canvasContainer {
    width: 100%;
    height: 275px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    display: none;
    overflow-x: hidden;
    display: none;
}

.canvasContainer.active {
    display: block;
}

/* Saat aktif ditampilkan */
.canvasContainer.active {
    display: block;
}

/* Gaya list skill (gambar + teks di samping) */
.skillItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skillItem img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Scrollbar custom (khusus browser berbasis WebKit/Chromium) */
.canvasContainer::-webkit-scrollbar {
    width: 8px;
}

.canvasContainer::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.canvasContainer::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.canvasContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.popup-content .combo-display {
    margin: auto;
    padding: 10px;
    gap: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    padding: 10px;
}

.display-skill {
    margin-right: -20px;
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
}

.attribute {
    position: absolute;
    top: -3px;
    left: -5px;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    display: none;
    border-radius: 50%;
}

#attrPopup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#attrPopup .popup-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 10% auto;
    text-align: center;
}

.attr-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.attr-options img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

.attr-options img:hover {
    transform: scale(1.2);
}

.closeAttr {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.popup-btn {
    margin: 15px 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(8, 107, 255);
    color: white;
    transition: all 0.2s ease-in-out;
}

.popup-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.popup-btn:active {
    background-color: rgb(32, 49, 61);
    transform: scale(0.95);
}

footer {
    padding: 20px;
    color: #fff;
    background-color: rgb(8, 107, 255);
}

#btnSavePDF {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: orange;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: black solid 1px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 999;
}

@media (max-width: 1100px) {
    header.navbar-container {
        flex-direction: column;
        padding: 1rem 2rem;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .combo {
        width: 90%;
    }

    .border {
        width: 90%;
        overflow-x: auto;
    }

    .popup-content {
        width: 90%;
    }
}

@media (max-width: 768px) {
    header.navbar-container {
        padding: 1rem;
    }

    header.navbar-container .logo img {
        width: 200px;
    }

    header.navbar-container .nav-list ul {
        gap: 0.7rem;
    }

    header.navbar-container .nav-list li a span {
        padding: .4rem 1rem;
        font-size: 1rem;
    }

    .combo input {
        width: 250px;
    }

    .set-combo-btn {
        padding: 10px 30px;
    }

    .border {
        height: auto;
        padding: 15px;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .popup-content .combo-display {
        padding: 5px;
    }
}

@media (max-width: 850px) {
    header.navbar-container {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 1.5rem;
    }

    header.navbar-container .logo img {
        width: 210px;
        /* mengecil sedikit */
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7rem 1rem;
        /* kecil tapi tetap rapi */
    }

    .combo {
        padding: 10px;
        overflow-x: auto;
        flex-wrap: nowrap !important;
    }

    .combo input {
        width: 180px;
        margin-left: 10px;
    }

    .border {
        width: 950px !important;
        overflow-x: auto;
        flex-wrap: nowrap !important;
    }

    .popup-content {
        width: 95%;
        padding: 15px;
    }

    #searchInput {
        width: 90%;
    }

    #skillList {
        height: 200px;
    }
}

@media (max-width: 600px) {
    header.navbar-container {
        padding: 1rem;
        border-radius: 60px;
    }

    header.navbar-container .logo img {
        width: 170px;
    }

    header.navbar-container .nav-list ul {
        gap: 0.5rem;
    }

    header.navbar-container .nav-list li a span {
        font-size: 0.9rem;
        padding: .35rem .9rem;
    }

    .combo {
        width: 95%;
    }

    .combo input {
        width: 15px;
        height: 28px;
    }

    .set-combo-btn {
        padding: 8px 20px;
        font-size: 14px;
    }

    .border {
        padding: 10px;
        gap: 8px;
        overflow-x: auto;
    }

}

@media (max-width: 480px) {
    header.navbar-container {
        padding: 1rem;
        border-radius: 40px;
    }

    header.navbar-container .logo img {
        width: 160px;
    }

    header.navbar-container .nav-list ul {
        gap: 0.5rem;
    }

    header.navbar-container .nav-list li a span {
        padding: .3rem .8rem;
        font-size: 0.9rem;
    }

    .combo input {
        width: 175px;
    }

    .set-combo-btn {
        padding: 8px 15px;
        font-size: 13px;
    }

    .popup-content {
        width: 95%;
        padding: 10px;
    }

    .popup-skill {
        gap: 10px;
    }

    .skill-img {
        min-height: 120px;
    }
}

@media (max-width: 360px) {
    header.navbar-container .logo img {
        width: 140px;
    }

    header.navbar-container .nav-list li a span {
        padding: .25rem .6rem;
        font-size: 0.8rem;
    }

    header.navbar-container .dropdown .dropdown-content {
        min-width: 120px;
    }

    .combo input {
        width: 175px;
    }

    .set-combo-btn {
        padding: 6px 10px;
    }

    #btnSavePDF {
        right: 5px;
        bottom: 10px;
    }
}

@media print {
    .hover-line {
        display: none !important;
    }
}